body {
    background-color: cadetblue;
    background:  cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-size: 40px;
    background-image: url('./RubioHaro.png');
}
